*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --bg-primary:#1997C3;
    --secondary:#0F1632;
    --bg-two:#fff;
     
}

a{
    text-decoration: none;

}
img{
    max-width: 100%;
}

section{
    width: 100%;
    
}

div.container{
    max-width: 80%;
    margin: 0 auto;
}


div.top-bar{
    width: 100%;
    background-color:var(--bg-primary) ;
    color: aliceblue;
    padding: 20px;
}

div.top-flex{
    display: flex;
    justify-content: space-between;
}



div.currency{
    display: flex;
    gap: 10px;
}

div.favoite{
    display: flex;
    gap: 10px;
}

/* top-bar end */

/* navbar start */
nav{
    width: 100%;
    padding: 10px;
    background-color: var(--bg-two);
}


.nav{
    display: flex;
    justify-content: space-between;
}

div.logo img{
  cursor: pointer;
    width: 123px;
}


ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin-right: 30px; */
}
li{
    list-style: none;
    cursor: pointer;
}


 a.login-btn{
    padding: 10px 20px;
    border:1px solid #0F1632;
    background-color: var(--bg-two);
    border-radius: 18px;
    color: black;
}

a.signup-btn{
    padding: 10px 20px;
    border:1px solid #091131;
    background-color: var(--bg-two);
    border-radius: 18px;
    color: var(--bg-two);
    background-color: var(--bg-primary);
    
}


/* nav end  */

/* banner section start  */

section.banner-section{
    width: 100%;
   
    height: 550px;
    color: #fff;
    background-color: black;
}


div.main-banner-flex{
    display: flex;
    width: 100%;
    align-items: center;
  
   

}

div.banner-content{
    width: 60%;
    margin-top: 150px;
}


h1.banner-heading{
    
    font-size: 60px;
    font-weight: 500;
    align-items: center;
}

h1 span.Connected{
    color: var(--bg-primary);
    font-weight: 600;
}

p.banner-para{
    font-size: 20px;
    margin-top: 5px;
}

a.Esim-btn{
    color: var(--bg-two);
   line-height: 60px;
   border: 1px solid #1997C3;
   padding: 10px 20px;
   border-radius: 18px;
}